.entry{
    width: 688px;
    height: 142px;
    border: 5px solid #3A1772;
    display: grid;
    grid-template-rows: 40px 100px;  
    max-width: 100%;
    position: relative;
}

.entry:not(:first-of-type){
    margin: 20px 5px 0 0;
}
.userinfo{
    display: flex;
    width: 175px;
}

.userinfo p{
    margin-left: 10px;   
}

.link{
    color: black;
    text-decoration: none;

}

.link:hover{
    color: #3A1772;
}


.topinfo{
    justify-content: center;
    display: flex;
    font-size: 12px;
    grid-row: 1;
    width: 250px;
    height: 40px;
    border-bottom: 1px solid lightgray;
    margin-left: 20px;
    font-weight: bold;
}


.contentinfo{
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    padding: 0 30px;
}

.middlesection{
    flex-grow: 1;
    margin-left: 30px;
}

.middlesection h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.middlesection em{
    font-size: 1em;
}

.rating {
    font-size: 1.5em;
}

.comment{
    display: inline-block;
    max-width: 500px;
    height: 40px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

.comment::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.delete{
    position: absolute;
    right: 7px;
    top: 7px;
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
}


