.searchresult:not(:first-of-type){
    margin-top: 40px;
}


.searchresult{
    width: 472px;
    height: 52px;
    border: 2px solid #3A1772;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.userinfo {
    display: flex;
    align-items: center;
    width: 365px;
    margin-left: 20px;
}

.userinfo span{
    margin-left: 10px;
}

.searchresult button{
    margin-right: 20px;
}

